<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="128" value="server=210.51.20.92,21766;database=uds1;uid=sa;pwd=oLKQ%S!wboI1hkB3;pooling=true;max pool size=800;min pool size=300;Connect Timeout=500;"/>
  
    <!--public static readonly string connstrTest = "Data Source=112.124.121.151,25781;Initial Catalog=Test;User ID=sa;Password=WZpinG@))*z2015Yj7n;";
    public static readonly string connstrStrong = "Data Source=10.161.208.128,18666;Initial Catalog=uds1;User ID=sa;Password=I3EzPu@AQ8QfLv2A;";-->
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="720" />
    <compilation targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="APISoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="APISoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://61.129.45.130:8088/API/API.asmx" binding="basicHttpBinding"
        bindingConfiguration="APISoap" contract="API.APISoap" name="APISoap" />
      <endpoint address="http://61.129.45.130:8088/API/API.asmx" binding="customBinding"
        bindingConfiguration="APISoap12" contract="API.APISoap" name="APISoap12" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="weixin_api.Service1AspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="weixin_api.Service1">
        <endpoint address="" behaviorConfiguration="weixin_api.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="weixin_api.Service1" />
      </service>
    </services>
  </system.serviceModel>
</configuration>